.idea/
node_modules/
temp_build/
build/
.sass-cache/
npm-debug.log
*.json.gzip
npm-debug.log.*
*.rdb
manifest.json
src/public/vendor.*.js
yarn.lock
igloo.log
nohup.out
package-lock.json
npm-packages-offline-cache/
npm-packages-offline-cache.* 
server/views/index.ejs 
server/boot/local.js 
CHANGELOG.md